<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="jdbc.properties"/>

    <typeAliases>
<!--        <typeAlias type="com.xiaoyu.mybatis.pojo.User"></typeAlias>-->
        <package name="com.xiaoyu.mybatis.pojo"/>
    </typeAliases>

    <environments default="mybatisGettingStart">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
        <environment id="mybatisGettingStart">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.mybatis.getting.start.driver}"/>
                <property name="url" value="${jdbc.mybatis.getting.start.url}"/>
                <property name="username" value="${jdbc.mybatis.getting.start.username}"/>
                <property name="password" value="${jdbc.mybatis.getting.start.password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
<!--        <mapper resource="mappers/UserMapper.xml"/>-->
        <package name="com.xiaoyu.mybatis.mapper"/>
    </mappers>
</configuration>