<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.xiaoyu.dynamic.mapper.DynamicSQLMapper">
    <resultMap id="CityDynamicSearch" type="City">
        <id column="city_id" property="id"/>
        <result column="city" property="name"/>
        <result column="last_update" property="lastUpdate"/>
    </resultMap>

<!--    List<City> getCitiesByCondition(City city);-->
    <select id="getCitiesByCondition" resultMap="CityDynamicSearch">
        select * from city
<!--        <where>-->
<!--            <if test="id != null and id != 0">-->
<!--                and city_id > #{id}-->
<!--            </if>-->
<!--            <if test="name != null and name != ''">-->
<!--                and city like "%"#{name}"%"-->
<!--            </if>-->
<!--            <if test="lastUpdate != null">-->
<!--                and last_update > #{lastUpdate}-->
<!--            </if>-->
<!--        </where>-->
<!--        <trim prefix="" prefixOverrides="" suffix="" suffixOverrides=""></trim>-->
        <where>
            <choose>
                <when test="id != null and id != 0">
                    city_id > #{id}
                </when>
                <when test="name != null and name != ''">
                    city like "%"#{name}"%"
                </when>
                <otherwise>
                    last_update > #{lastUpdate}
                </otherwise>
            </choose>
        </where>
    </select>

    <sql id="cityColomns">
        city_id, city, country_id, last_update
    </sql>

<!--    void insertCities(@Param("cities") List<City> listCities);-->
    <insert id="insertCities">
        insert into city (<include refid="cityColomns"/>)
        values
        <foreach collection="cities" item="city" separator=",">
            (null, #{city.name}, #{city.country.countryId}, #{city.lastUpdate})
        </foreach>
    </insert>

<!--    void deleteCities(@Param("citiesId") Integer[] citiesId);-->
    <delete id="deleteCities">
<!--        delete from city where city_id in-->
<!--        <foreach collection="citiesId" item="cityId" open="(" close=")" separator=",">-->
<!--            #{cityId}-->
<!--        </foreach>-->

        delete from city
        <foreach collection="citiesId" item="cityId" open="where" separator="or">
            city_id = #{cityId}
        </foreach>
    </delete>

</mapper>